{
    "env": {
        "test": {
            "presets": [
                [
                    "env",
                    "stage-3",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ]
        }
    },
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-3"
    ]
}