$and-color: #2E7D32;
$or-color: #641C90;
$font-family: 'Roboto';
$primary-color:       #0D47A1;
$error-color:         #C62828;
$white:                  #FFFFFF;
$gray50:                #FAFAFA;
$gray100:             #F5F5F5;
$gray200:             #EEEEEE;
$gray300:             #E0E0E0;
$gray400:             #BDBDBD;
$gray500:             #9E9E9E;
$gray600:             #757575;
$gray700:             #616161;
$gray800:             #424242;
$gray900:             #212121;
$black:                  #000000;
$blue:               #0d47a1;

$big-space: 1em;
$normal-space: .645em;
$small-space: 0.29em;
$extra-small-space: .1em;
$input-height: 1.6em;
